@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Hiển thị danh sách NhanViens -->
<section class="content">
    <div class="container-fluid pt-4">
        <div class="row">
            <!-- Sách và Thông tin độc giả -->
            <div class="col-12" style="height: 80vh;">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <div class="form-row">


                            <div class="col-6">
                                <h3 class="text-center text-blue text-bold">Quản Lý Đăng Ký Sách Mượn </h3>
                            </div>

                            <div class="card-tools col-3">
                                <div class="input-group input-group-sm pt-1">
                                    <input type="text"
                                           name="table_search"
                                           class="form-control float-right"
                                           placeholder="Search" id="inputSearch" />

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <button type="button" class="btn btn-warning lamMoiSach" id="lamMoiButton" onclick="lamMoi()">Làm mới</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <form>
                            <!--Danh sách Dki sách mượn-->
                            <div class="text-center">
                                <table class="table table-hover table-head-fixed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SĐT</th>
                                            <th>Họ tên</th>
                                            <th>Mã DK</th>
                                            <th>Ngày Đ/Ký</th>
                                            <th>Ngày Hẹn</th>
                                            <th>Tình trạng</th>
                                            @*<th>Thao tác</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="danhSachDkiMuonSach">
                                        @foreach (var item in ViewData["dkiMuonSach"] as List<WebApp.Areas.Admin.Data.DTO_DangKyMuonSach_GroupSDT>)
                                        {
                                            var isFirst = true;
                                            foreach (var dataDkiMuonSach in item.List_DTO_DangKyMuonSach)
                                            {
                                                <tr class="dkiMuonSach_row" data-ma-the="@dataDkiMuonSach.MaDK">
                                                    @if (isFirst)
                                                    {
                                                        isFirst = false;
                                                        <td rowspan="@item.CountRow" class="align-middle text-center">@item.SDT</td>
                                                        <td rowspan="@item.CountRow" class="align-middle text-center">@dataDkiMuonSach.HoTen</td>
                                                    }

                                                    <td>@dataDkiMuonSach.MaDK</td>
                                                    <td>@string.Format("{0:dd-MM-yyyy}", dataDkiMuonSach.NgayDK)</td>
                                                    <td>@string.Format("{0:dd-MM-yyyy}", dataDkiMuonSach.NgayHen)</td>

                                                    @if (dataDkiMuonSach.NgayHen < DateOnly.FromDateTime(DateTime.Now) && (dataDkiMuonSach.TinhTrang == 0 || dataDkiMuonSach.TinhTrang == 1))
                                                    {
                                                        <td><button type="button" class="btn btn-danger px-3" style="font-size: 14px;" onclick="handleTinhTrang(@dataDkiMuonSach.MaDK, @dataDkiMuonSach.SDT, @dataDkiMuonSach.TinhTrang)">Đã hủy</button></td>
                                                    }
                                                    else
                                                    {
                                                        @if (dataDkiMuonSach.TinhTrang == 0)
                                                        {
                                                            <td><button type="button" class="btn btn-warning" style="font-size: 13px;" onclick="handleTinhTrang(@dataDkiMuonSach.MaDK, @dataDkiMuonSach.SDT, @dataDkiMuonSach.TinhTrang)">Chờ duyệt</button></td>
                                                        }
                                                        else if (dataDkiMuonSach.TinhTrang == 1)
                                                        {
                                                            <td><button type="button" class="btn btn-primary" style="font-size: 14px;" onclick="handleTinhTrang(@dataDkiMuonSach.MaDK, @dataDkiMuonSach.SDT, @dataDkiMuonSach.TinhTrang)">Đã duyệt</button></td>
                                                        }
                                                        else if (dataDkiMuonSach.TinhTrang == 2)
                                                        {
                                                            <td><button type="button" class="btn btn-success" style="font-size: 14px;" onclick="handleTinhTrang(@dataDkiMuonSach.MaDK, @dataDkiMuonSach.SDT, @dataDkiMuonSach.TinhTrang)">Đã mượn</button></td>
                                                        }
                                                        else
                                                        {
                                                            <td><button type="button" class="btn btn-danger px-3" style="font-size: 14px;" onclick="handleTinhTrang(@dataDkiMuonSach.MaDK, @dataDkiMuonSach.SDT, @dataDkiMuonSach.TinhTrang)">Đã hủy</button></td>
                                                        }
                                                    }


                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="ModaldanhSachDkiMuon" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 text-blue" style="font-weight: bold;" id="">Chi tiết</h4>
            </div>

            <!-- Body -->
            <form class="modal-body p-4">
                <div class="form-row">
                    <!--Họ tên-->
                    <div class="form-group col">
                        <label>Họ tên:</label>
                        <input class="form-control" id="hoTenModal" readonly>
                    </div>

                    <!--Số điện thoại-->
                    <div class="form-group col">
                        <label>Số điện thoại:</label>
                        <input class="form-control" id="sdtModal" readonly>
                    </div>

                    <!--Mã đăng ký-->
                    <div class="form-group col">
                        <label>Mã ĐK:</label>
                        <input class="form-control" id="maDangKyModal" readonly>
                    </div>

                    <!--Ngày trả-->
                    <div class="modalHanTra" id="modalHanTra">
                        <div class="form-group col">
                            <label for="HanTra">Hạn trả:</label>
                            <select class="form-control" id="HanTra" name="HanTra">
                                <option value="0">-- Chọn hạn trả --</option>
                                <option value="1">1 tuần</option>
                                <option value="2">2 tuần</option>
                                <option value="3">3 tuần</option>
                                <option value="4">4 tuần</option>

                            </select>
                        </div>
                    </div>
                </div>

                <!--Danh sách sách đăng ký mượn-->
                <div class="text-center">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>S/Lượng</th>
                            </tr>
                        </thead>
                        <tbody id="danhSachSachDk">
                            <!--Render từ ajax-->
                        </tbody>
                    </table>
                </div>
            </form>

            <!-- Footer -->
            <div class="modal-footer" id="modal-footer">
            </div>

        </div>
    </div>
</div>



<!-- Modal error-->
<div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="ModalError" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-danger">
                <span class="" id="contentModalError"></span>
            </div>
        </div>
    </div>
</div>

<!-- Modal success-->
<div class="modal fade" id="ModalSuccess" tabindex="-1" role="dialog" aria-labelledby="ModalSuccess" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-green">
                <span class="" id="contentModalSuccess"></span>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirm -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="xacNhanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xacNhanModalLabel">Xác nhận hành động</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="" id="contentModalConfirm"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Đóng </button>
                <button type="button" class="btn btn-primary" id="confirmButton">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section scripts
{
    <script>
        const tokenJWT = localStorage.getItem("accessToken");

        // Lấy ngày hiện tại
        var currentDate = new Date();

        // Định dạng ngày hiện tại thành chuỗi YYYY-MM-DD
        var formatCurrentDate = currentDate.toISOString().slice(0, 10);

        function lamMoi() {
            // Làm mới trang
            location.reload();
        }

        function AddButtons(names, colors, maDK) {
            for (var i = 0; i < names.length; i++) {
                // Sử dụng hàm createButtonClickHandler được định nghĩa bên ngoài
                var btn = $('<button>', {
                    'class': 'btn btn-' + colors[i],
                    'text': names[i],
                    'style': 'font-size: 15px',
                    'click': handleClickButton(names[i], maDK[i])
                });

                $('#modal-footer').append(btn);
            }
        }

        function handleClickButton(name, maDK) {
            return function () {
                if (name === 'Hủy đơn') {
                    var confirmed = confirm("Bạn có chắc muốn hủy đơn không?");
                    if (confirmed) {
                        console.log('Đã nhấp nút Hủy đơn');
                        HandleBtnHuyAndDuyet(maDK, 3);
                    }
                } else if (name === 'Duyệt') {
                    var confirmed = confirm("Bạn có chắc muốn duyệt đơn không?");
                    if (confirmed) {
                        console.log('Đã nhấp nút Duyệt');
                        HandleBtnHuyAndDuyet(maDK, 1);
                    }
                } else if (name === 'Tạo phiếu mượn') {
                    console.log('Đã nhấp nút Tạo phiếu mượn');
                    BtnSubmitTaoPhieuMuon(maDK)
                }
            };
        }

        //=====================  Xử lý sự kiện khi onclick btn Hủy Đơn và duyệt đơn =====================
        function HandleBtnHuyAndDuyet(maDK, tinhTrang) {
            $.ajax({
                url: '@Url.Action("HandleBtnHuyAndDuyet", "DangKyMuonSach")',
                type: 'POST',
                data: {
                    maDK: maDK,
                    tinhTrang: tinhTrang,
                    token: tokenJWT
                },
                success: function (data) {
                    if (data.success) {
                        if (data.data) {
                            if (tinhTrang == 3) {
                                GetAllDkiMuonSach();
                                document.getElementById("contentModalSuccess").innerHTML = "Hủy đơn thành công!";
                                $("#ModalSuccess").modal("show");
                            } else if (tinhTrang == 1) {
                                GetAllDkiMuonSach();
                                document.getElementById("contentModalSuccess").innerHTML = "Duyệt đơn thành công!";
                                $("#ModalSuccess").modal("show");
                            } else {
                                GetAllDkiMuonSach();
                                document.getElementById("contentModalSuccess").innerHTML = "Tạo phiếu mượn thành công!";
                                $("#ModalSuccess").modal("show");
                            }
                        } else {
                            if (tinhTrang == 3) {
                                document.getElementById("contentModalError").innerHTML = "Hủy đơn thật bại. Hãy kiểm tra lại!";
                                $("#ModalError").modal("show");
                            } else if (tinhTrang == 1) {
                                document.getElementById("contentModalError").innerHTML = "Duyệt đơn thật bại. Hãy kiểm tra lại!";
                                $("#ModalError").modal("show");
                            } else {
                                document.getElementById("contentModalError").innerHTML = "Tạo phiếu mượn thật bại. Hãy kiểm tra lại!";
                                $("#ModalError").modal("show");
                            }
                        }

                        $("#ModaldanhSachDkiMuon").modal("hide");
                    } else {
                        console.error("Không thành công trong việc nhận dữ liệu từ server.");
                    }
                }
            });
        }


        //=====================  Xử lý sự kiện khi click vào btn  trong table  =====================
        function handleTinhTrang(maDK, SDT, TinhTrang) {
            GetThongTinTaiKhoan(maDK);
            GetSachDangKy(maDK);
            CheckSDT(maDK, SDT, TinhTrang);
        }

        function GetThongTinTaiKhoan(maDK) {
            $.ajax({
                url: '@Url.Action("GetDKSachMuonByMaDK", "DangKyMuonSach")',
                type: 'POST',
                data: {
                    maDK: maDK,
                },
                success: function (data) {
                    if (data.success) {
                        document.getElementById("hoTenModal").value = data.data.hoTen;
                        document.getElementById("sdtModal").value = data.data.sdt;
                        document.getElementById("maDangKyModal").value = data.data.maDK;
                    } else {
                        console.error("Không thành công trong việc nhận dữ liệu từ server.");
                    }
                }
            });
        }

        function GetSachDangKy(maDK) {
            $.ajax({
                url: '@Url.Action("GetChiTietDKByMaDK", "DangKyMuonSach")',
                type: 'POST',
                data: {
                    maDK: maDK,
                },
                success: function (data) {
                    if (data.success) {
                        // Xử lý dữ liệu JSON trả về
                        var ctdk = data.data;
                        // Cập nhật danh sách sách mượn trong view
                        var danhSachSachDK = $("#danhSachSachDk");

                        danhSachSachDK.empty(); // Xóa nội dung bảng

                        $.each(ctdk, function (index, item) {
                            var newRow = $(` <tr class="sachdk-row" data-ma-sach="${item.maSach}">
                                             <td id="maSach">${item.maSach}</td>
                                             <td id="tenSach">${item.tenSach}</td>
                                             <td id="soLuong">${item.soLuong}</td>
                                             </tr> `);

                            danhSachSachDK.append(newRow);
                        });
                    } else {
                        console.error("Không thành công trong việc nhận dữ liệu từ server.");
                    }
                }
            });
        }

        function CheckSDT(maDK, SDT, tinhTrang) {
            var stringSDT = "0" + SDT;

            $.ajax({
                url: '@Url.Action("CheckDocGia", "DangKyMuonSach")',
                type: 'POST',
                data: {
                    SDT: stringSDT,
                },
                success: function (data) {
                    if (data.success) {
                        if (data.data) {
                            $('#modal-footer').empty();
                            $('#modalHanTra').empty();
                            if (tinhTrang == 0) {
                                AddButtons(["Hủy đơn", "Duyệt"], ["danger", "primary"], [maDK, maDK]);
                            } else if (tinhTrang == 1) {

                                var divHanTra = $('<div>', {
                                    'class': 'form-group col modalHanTra',
                                    'id': 'modalHanTra'
                                });

                                var labelHanTra = $('<label>', {
                                    'for': 'HanTra',
                                    'text': 'Hạn trả:'
                                });
                                divHanTra.append(labelHanTra);

                                var selectHanTra = $('<select>', {
                                    'class': 'form-control',
                                    'id': 'HanTra',
                                    'name': 'HanTra'
                                });

                                selectHanTra.append('<option value="0">-- Chọn hạn trả --</option>');
                                selectHanTra.append('<option value="1">1 tuần</option>');
                                selectHanTra.append('<option value="2">2 tuần</option>');
                                selectHanTra.append('<option value="3">3 tuần</option>');
                                selectHanTra.append('<option value="4">4 tuần</option>');


                                divHanTra.append(selectHanTra);

                                $('#modalHanTra').append(divHanTra);


                                AddButtons(["Hủy đơn", "Tạo phiếu mượn"], ["danger", "primary"], [maDK, maDK]);
                            } else if (tinhTrang == 2) {
                                AddButtons(["Đơn đã mượn"], ["success"], [maDK]);
                            } else if (tinhTrang == 3) {
                                AddButtons(["Đơn đã hủy"], ["dark"], [maDK]);
                            }

                            $("#ModaldanhSachDkiMuon").modal("show");
                        } else {
                            $('#modal-footer').empty();
                            var span = $('<span>', {
                                'class': 'mr-auto text-red',
                                'text': '* Số điện thoại chưa đăng ký thẻ. Hãy đăng ký để mượn sách!',
                            });
                            $('#modal-footer').append(span);

                            if (tinhTrang == 0) {
                                AddButtons(["Hủy đơn", "Duyệt"], ["danger", "primary"], [maDK, maDK]);
                            } else if (tinhTrang == 1) {
                                AddButtons(["Hủy đơn"], ["danger"], [maDK]);
                            } else if (tinhTrang == 2) {
                                AddButtons(["Đơn đã mượn"], ["success"], [maDK]);
                            } else if (tinhTrang == 3) {
                                AddButtons(["Đơn đã hủy"], ["dark"], [maDK]);
                            }

                            $("#ModaldanhSachDkiMuon").modal("show");
                        }
                    } else {
                        console.error("Không thành công trong việc nhận dữ liệu từ server.");
                    }
                },
                error: function (error) {
                    console.error("An error occurred during the AJAX request: ", error);
                }
            });
        }



        function GetAllDkiMuonSach() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAllDkiMuonSach", "DangKyMuonSach")',
                dataType: 'json', // Ensure that the returned data is JSON
                success: function (res) {

                    if (res.success) {
                        var render = "";

                        console.log(res.data);

                        $.each(res.data, function (i, item) {
                            render += '<tr class="dkiMuonSach_row" data-ma-the=' + item.maDK + '>';
                            var isFirst = true;

                            $.each(item.list_DTO_DangKyMuonSach, function (j, dataDkiMuonSach) {


                                var ngayDKStr = dataDkiMuonSach.ngayDK; // Ví dụ: "2021-08-01"
                                // Tách các phần của chuỗi ngày tháng
                                var parts = ngayDKStr.split("-");
                                var year = parseInt(parts[0], 10);
                                var month = parseInt(parts[1], 10);
                                var day = parseInt(parts[2], 10);

                                // Tạo đối tượng Date từ các phần đã tách
                                var ngayDK = new Date(year, month - 1, day);

                                // Chuyển đổi ngày thành định dạng "yyyy-mm-dd" để đặt giá trị cho input type="date"
                                var formattedNgayDK = ngayDK.toLocaleDateString('en-CA');

                                var ngayHenStr = dataDkiMuonSach.ngayHen; // Ví dụ: "2021-08-01"
                                // Tách các phần của chuỗi ngày tháng
                                var parts = ngayHenStr.split("-");
                                var year = parseInt(parts[0], 10);
                                var month = parseInt(parts[1], 10);
                                var day = parseInt(parts[2], 10);

                                // Tạo đối tượng Date từ các phần đã tách
                                var ngayHen = new Date(year, month - 1, day);

                                // Chuyển đổi ngày thành định dạng "yyyy-mm-dd" để đặt giá trị cho input type="date"
                                var formattedNgayHen = ngayHen.toLocaleDateString('en-CA');


                                render += '<tr class="dkiMuonSach_row" data-ma-the="' + dataDkiMuonSach.maDK + '">';
                                if (isFirst) {
                                    isFirst = false;
                                    render += '<td rowspan="' + item.countRow + '" class="align-middle text-center">' + item.sdt + '</td>';
                                    render += '<td rowspan="' + item.countRow + '" class="align-middle text-center">' + dataDkiMuonSach.hoTen + '</td>';
                                }
                                render += '<td>' + dataDkiMuonSach.maDK + '</td>';
                                render += '<td>' + formattedNgayDK + '</td>';
                                render += '<td>' + formattedNgayHen + '</td>';

                                if (dataDkiMuonSach.tinhTrang == 0) {

                                    console.log("dataDkiMuonSach ", j, " :", dataDkiMuonSach);
                                    console.log("maDK :", dataDkiMuonSach.maDK);
                                    console.log("sdt :", dataDkiMuonSach.sdt);
                                    console.log("tinhTrang :", dataDkiMuonSach.tinhTrang);

                                    render += '<td><button type="button" class="btn btn-warning" style="font-size: 13px;" onclick="handleTinhTrang(' + dataDkiMuonSach.maDK + ', ' + dataDkiMuonSach.sdt + ', ' + dataDkiMuonSach.tinhTrang + ')">Chờ duyệt</button></td>';
                                } else if (dataDkiMuonSach.tinhTrang == 1) {
                                    render += '<td><button type="button" class="btn btn-primary" style="font-size: 14px;" onclick="handleTinhTrang(' + dataDkiMuonSach.maDK + ', ' + dataDkiMuonSach.sdt + ', ' + dataDkiMuonSach.tinhTrang + ')">Đã duyệt</button></td>';
                                } else if (dataDkiMuonSach.tinhTrang == 2) {
                                    render += '<td><button type="button" class="btn btn-success" style="font-size: 14px;" onclick="handleTinhTrang(' + dataDkiMuonSach.maDK + ', ' + dataDkiMuonSach.sdt + ', ' + dataDkiMuonSach.tinhTrang + ')">Đã mượn</button></td>';
                                } else {
                                    render += '<td><button type="button" class="btn btn-danger px-3" style="font-size: 14px;" onclick="handleTinhTrang(' + dataDkiMuonSach.maDK + ', ' + dataDkiMuonSach.sdt + ', ' + dataDkiMuonSach.tinhTrang + ')">Đã hủy</button></td>';
                                }
                                render += '</tr>';
                            });

                            render += '</tr>';

                        });

                        let danhSachSachDkMuon = document.getElementById("danhSachDkiMuonSach");
                        danhSachSachDkMuon.innerHTML = render;
                    }

                },
                error: function (status) {
                    alert("Không tìm thấy dữ liệu");
                }
            });
        }


        function BtnSubmitTaoPhieuMuon(maDK) {
            var soThang = parseInt(document.getElementById("HanTra").value);

            if (soThang == 0) {
                document.getElementById("contentModalError").innerHTML = "Hãy chọn hạn trả!";
                $("#ModalError").modal("show");
            } else {
                // Thu thập dữ liệu "Mã sách" và các "Mã cuốn sách"
                const data = [];

                // Đếm số dòng sách trong bảng
                var giaTriSoLuong = 0;
                // Tạo vòng lặp qua tất cả các <td> có id="soLuong"
                $("#danhSachSachDk td#soLuong").each(function () {
                    giaTriSoLuong += parseInt($(this).text().trim(), 10); // Lấy giá trị và loại bỏ khoảng trắng
                });

                let isValid = true; // Biến kiểm tra tính hợp lệ
                let allMaCuonSach = []; // Mảng chứa tất cả giá trị của các input

                // Lặp qua tất cả các dòng sách
                $(".sachdk-row").each(function () {
                    const maSach = $(this).find("#maSach").text().trim();

                    // Lấy các input "Mã cuốn sách" tương ứng với mỗi Mã sách
                    const maCuonSachInputs = $(this).next(".details-table")
                        .find('input[name="maCuonSach[' + maSach + '][]"]')
                        .map(function () {
                            return $(this).val().trim(); // Lấy giá trị của mỗi input và loại bỏ khoảng trắng
                        }).get();

                    // Kiểm tra dữ liệu rỗng
                    if (maCuonSachInputs.some(value => value === "")) {
                        document.getElementById("contentModalError").innerHTML = "Mã cuốn sách không được để trống!";
                        $("#ModalError").modal("show");
                        isValid = false;
                        return false; // Thoát khỏi vòng lặp nếu dữ liệu không hợp lệ
                    }

                    // Kiểm tra trùng lặp trong chính danh sách hiện tại
                    const hasDuplicates = new Set(maCuonSachInputs).size !== maCuonSachInputs.length;
                    if (hasDuplicates) {
                        document.getElementById("contentModalError").innerHTML = "Dữ liệu không được trùng nhau trong cùng một mã sách!";
                        $("#ModalError").modal("show"); isValid = false;
                        return false; // Thoát khỏi vòng lặp nếu dữ liệu không hợp lệ
                    }

                    // Thêm dữ liệu vào mảng tổng để kiểm tra trùng lặp giữa các dòng
                    allMaCuonSach = allMaCuonSach.concat(maCuonSachInputs);

                    const maSachInt = parseInt(maSach, 10);
                    if (!isNaN(maSachInt) && maCuonSachInputs.length > 0) {
                        data.push({
                            maSach: maSachInt, // Thêm giá trị đã được chuyển đổi
                            maCuonSach: maCuonSachInputs
                        });
                    }
                });

                // Kiểm tra trùng lặp giữa các dòng
                if (new Set(allMaCuonSach).size !== allMaCuonSach.length) {
                    document.getElementById("contentModalError").innerHTML = "Dữ liệu không được trùng nhau giữa các dòng sách";
                    $("#ModalError").modal("show");
                    isValid = false;
                }

                console.log("allMaCuonSach: ", allMaCuonSach.length)
                console.log("giaTriSoLuong: ", giaTriSoLuong);


                if (allMaCuonSach.length != giaTriSoLuong) {
                    document.getElementById("contentModalError").innerHTML = "Vui lòng điền đầy đủ Mã cuốn sách";
                    $("#ModalError").modal("show");
                    isValid = false;
                }

                if (isValid) {
                    console.log(data); // Dữ liệu đã thu thập (mảng chứa Mã sách và Mã cuốn sách)

                    // Tiến hành gửi dữ liệu qua AJAX
                    var x = new Date(formatCurrentDate);
                    var ngayTra = new Date(x);
                    ngayTra.setDate(ngayTra.getDate() + (soThang * 7));
                    var formatNgayTra = ngayTra.toISOString().slice(0, 10);
                    var ngayMuon = formatCurrentDate;
                    var maNV = @User.FindFirst("MaNV").Value;
                    var sdt = document.getElementById("sdtModal").value;

                    console.log('ngayMuon', ngayMuon);
                    console.log('formatNgayTra', formatNgayTra);
                    console.log('maNV', maNV);
                    console.log('sdt', sdt);


                    document.getElementById("contentModalConfirm").innerHTML = "Bạn có chắc muốn tạo phiếu mượn không?";
                    const modal = new bootstrap.Modal(document.getElementById("confirmModal"));
                    modal.show();

                    // Lắng nghe sự kiện xác nhận
                    const confirmButton = document.getElementById("confirmButton");
                    confirmButton.onclick = function () {

                        modal.hide(); // Ẩn modal
                            $.ajax({
                                url: '@Url.Action("SubmitTaoPhieuMuon", "DangKyMuonSach")',
                                type: 'POST',
                                data: {
                                    maNV: maNV,
                                    maDK: maDK,
                                    ngayTra: formatNgayTra,
                                    ngayMuon: ngayMuon,
                                    sdt: sdt,
                                    data: data, // Gửi mảng dữ liệu chứa các Mã sách và Mã cuốn sách
                                    token: tokenJWT
                                },
                                success: function (data) {
                                    if (data.success) {
                                        if (data.data === "checkthedocgia") {
                                            document.getElementById("contentModalError").innerHTML = "Thẻ độc giả đã hết hạn. Vui lòng gia  hạn để được mượn sách!";
                                            $("#ModalError").modal("show");
                                        } else {
                                            HandleBtnHuyAndDuyet(maDK, 2);
                                        }
                                        $("#ModaldanhSachDkiMuon").modal("hide");
                                    } else {
                                        document.getElementById("contentModalError").innerHTML = data.message;
                                        $("#ModalError").modal("show");
                                    }
                                }
                            });
                    };
                }



            }
        }


        $(document).on("click", ".sachdk-row", function () {
            // Hiển thị modal (nếu cần)
            $("#ModalChiTietSachMuon").modal("show");

            // Kiểm tra xem bảng chi tiết đã tồn tại chưa
            const detailsTable = $(this).next(".details-table");
            if (detailsTable.length > 0) {
                // Nếu đã tồn tại, xóa bảng
                detailsTable.remove();
            } else {
                // Lấy giá trị từ hàng hiện tại
                const maSach = $(this).find("#maSach").text().trim();
                const soLuong = parseInt($(this).find("#soLuong").text().trim());
                const tenSach = $(this).find("#tenSach").text().trim();

                // Tạo danh sách các dòng cho cột "Mã cuốn sách" (dùng input để người dùng nhập)
                let maCuonSachRows = '';
                const soLuongList = Array.from({ length: soLuong }, (_, index) => index + 1);

                soLuongList.forEach((soLuongIndex) => {
                    maCuonSachRows += `
                                <tr>
                                    ${soLuongIndex === 1 ? `<td rowspan="${soLuongList.length}" class="align-middle text-center">${tenSach}</td>` : ''}
                                    <td class="text-center align-middle">
                                        <input type="text" class="form-control" name="maCuonSach[${maSach}][]" placeholder="Nhập mã cuốn sách" />
                                    </td>
                                </tr>`;
                });

                // Tạo bảng mới
                const newTable = `
                            <tr class="details-table">
                                <td colspan="3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Tên sách</th>
                                                <th class="text-center">Mã cuốn sách</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            ${maCuonSachRows}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>`;

                // Thêm bảng mới ngay sau hàng hiện tại
                $(this).after(newTable);
            }
        });


    </script>
}