@using WebAPI.DTOs

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WebAPI.DTOs.SachDTO>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = 2;

}

@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="row g-2">
                <!-- Search Input and Button -->
                <div class="row g-2 justify-content-end">
                    <div class="col-md-auto mb-3" style="width: 40%;">
                        <div class="input-group">
                            <input id="searchInput" type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                            <button class="btn btn-dark border-0 py-3" onclick="TimKiem()">Tìm kiếm</button>
                        </div>
                    </div>
                </div>

                <div class="row g-2 justify-content-between">
                    <!-- Filters -->
                    <div class="col-md-3">
                        <label for="TheLoai" style="font-weight: bold">Thể loại</label>
                        <select id="theLoaiSelect" class="form-select border-0 py-3">
                            <option value="All">Tất cả</option>
                            <option value="Truyện thiếu nhi">Truyện thiếu nhi</option>
                            <option value="Tiểu thuyết">Tiểu thuyết</option>
                            <option value="Kỹ năng sống">Kỹ năng sống</option>
                            <option value="Ngôn tình">Ngôn tình</option>
                            <option value="Sách giáo khoa">Sách giáo khoa</option>
                            <option value="Sách ngoại ngữ">Sách ngoại ngữ</option>
                            <option value="Truyện ngắn">Truyện ngắn</option>
                            <option value="Văn học">Sách ngoại ngữ</option>
                            <option value="Sách tham khảo">Sách tham khảo</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="NgonNgu" style="font-weight: bold">Ngôn ngữ</label>
                        <select id="ngonNguSelect" class="form-select border-0 py-3">
                            <option value="All">Tất cả</option>
                            <option value="Tiếng việt">Tiếng Việt</option>
                            <option value="Tiếng anh">Tiếng Anh</option>
                            <option value="Tiếng trung">Tiếng Trung</option>
                            <option value="Tiếng pháp">Tiếng Pháp</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="NamXB" style="font-weight: bold">Năm xuất bản</label>
                        <select id="namXBSelect" class="form-select border-0 py-3">
                            <option value="All">Tất cả</option>
                            <!-- Script to generate years dynamically -->
                            <script>
                                var currentYear = new Date().getFullYear();
                                for (var i = currentYear; i >= 1940; i--) {
                                    document.write('<option value="' + i + '">' + i + '</option>');
                                }
                            </script>
                        </select>
                    </div>


                    <!-- Filter Button -->
                    <div class="col-md-3 align-self-end">
                        <button class="btn btn-dark border-0 w-100 py-3" onclick="LocSach()">Lọc</button>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>
<!-- Search End -->
<!-- Property List Start -->
<div class="container-xxl py-5 mx-auto">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12">
                <!-- You can add a heading here if needed -->
            </div>
        </div>

        <div class="tab-content">
            @* <div id="tab-1" class="tab-pane fade show p-0 active"> *@
            <div id="resultContainer" class="row g-4 ">

                @* Lấy ra thông tin sách *@
                @foreach (SachDTO item in Model)
                {
                    string urlImage = item.UrlImage.Replace("~\\", "/").Replace("\\", "/");

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div style="width: 300px; height: 400px; overflow: hidden; position: relative;">

                            <div class="position-relative overflow-hidden" style="width: 100%; height: 100%;">
                                <a href=""><img src="@urlImage" style="width: 100%; height: 100%; object-fit: cover;" alt=""></a>
                            </div>

                            <div id="soLuongSachNo_@item.MaSach" class="bg-primary rounded text-white position-absolute start-0 top-0 m-2 mt-0 py-0 px-1" style="z-index: 0;">Số lượng: @item.SoLuongHientai</div>


                            <div id="theLoai_@item.MaSach" class="bg-danger rounded text-white position-absolute start-0 top-0 m-2 mt-4 py-0 px-1" style="z-index: 1;">@item.TheLoai</div>

                            <div class="bg-white rounded-bottom text-primary" style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(255, 255, 255, 0.7); padding: 5px;">
                                <a class="d-block h5 mb-2" href="">@item.TenSach</a>
                                <h6 class="text-primary mb-3">--@item.TacGia--</h6>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->
@*Đoạn code hiển thị bảng phân trang*@
<ul class="pagination justify-content-center" style="margin-top: 50px;">

    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
        <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">
            &laquo; Trang trước
        </a>
    </li>

    @for (int i = 1; i <= totalPages; i++)
    {
        <li class="page-item @(currentPage == i ? "active" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
    }

    <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
        <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">
            Trang tiếp theo &raquo;
        </a>
    </li>

</ul>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        ///////////////////////////// Tìm kiếm dựa trên search ////////////////////////////////////
        function TimKiem() {
            console.log("Function TimKiem called");
            var search = $("#searchInput").val();
            console.log("dữ liệu nhận vào: ", search);

            // Gửi yêu cầu AJAX đến action "SearchBook" trên controller "Book"
            $.ajax({
                url: "/Book/SearchBook",
                type: "POST",
                data: { tenSach: search },
                success: function (result) {
                    // Xử lý dữ liệu JSON và cập nhật nội dung trangs
                    console.log("Phản hồi từ server:", result);
                    console.log("Danh sách sách nhận được từ server:", result.sachList);

                    if (result.success) {
                        UpdateView(result.sachList);
                    } else {
                        alert(result.message);
                    }
                },
                error: function (result) {
                    console.log("Lỗi khi gửi yêu cầu AJAX:", result);
                }
            });
        }

        ///////////////////////////// Tìm kiếm dựa trên lọc yêu cầu ////////////////////////////////////

            function LocSach() {
                console.log("Function LocSach called");
                
                var theLoai = document.getElementById("theLoaiSelect");
                var ngonNgu = document.getElementById("ngonNguSelect");
                var namXB = document.getElementById("namXBSelect");
                console.log("Thể loại chọn:", theLoai.value);
                console.log("Ngôn ngữ chọn:", ngonNgu.value);
                console.log("Năm xuất bản chọn:", namXB.value);

               
                $.ajax({
                    url: "/Book/GetBookByCategory",
                    type: "POST",
                    data:
                    {
                        ngonNgu: ngonNgu.value,
                        theLoai: theLoai.value,
                        namXB: namXB.value,
                    },
                    success: function (result) {
                        // Xử lý dữ liệu JSON và cập nhật nội dung trang
                        console.log("Phản hồi từ server:", result);
                        console.log("sachList:", result.sachList);

                        if (result.success) {
                            UpdateView(result.sachList);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function (result) {
                        console.log("Lỗi khi gửi yêu cầu AJAX:", result);
                    }
                });
            }

        function UpdateView(result) {
        $("#resultContainer").empty(); 
        console.log("Hàm updateView đang thực hiện");
        console.log("Đầu vào của hàm updateView:", result);

        $.each(result, function (index, item) {

            console.log("Item: ", item);

          
            var urlImage = item.urlImage.replace('~', '');

            console.log("urlImage: ", urlImage);

            // Tạo HTML cho mỗi cuốn sách
            var newHtml = $(`

                                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div style="width: 300px; height: 400px; overflow: hidden; position: relative;">
                                    <!-- Khung chứa ảnh -->
                                    <div class="position-relative overflow-hidden" style="width: 100%; height: 100%;">
                                            <a href=""><img src="${urlImage}" style="width: 100%; height: 100%; object-fit: cover;" alt=""></a>
                                    </div>

                                    <!-- Hiển thị số lượng sách -->
                                            <div id="soLuongSachNo_${item.maSach}" class="bg-primary rounded text-white position-absolute start-0 top-0 m-2 mt-0 py-0 px-1" style="z-index: 0;">Số lượng:${item.soLuongHientai}</div>


                                    <!-- Hiển thị thông tin về thể loại với nền đỏ và cách lề trên là 4 -->
                                            <div id="theLoai_${item.maSach}" class="bg-danger rounded text-white position-absolute start-0 top-0 m-2 mt-4 py-0 px-1" style="z-index: 1;">${item.theLoai}</div>

                                    <div class="bg-white rounded-bottom text-primary" style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(255, 255, 255, 0.7); padding: 5px;">
                                            <a class="d-block h5 mb-2" href="">${item.tenSach}</a>
                                           <h6 class="text-primary mb-3">--${item.tacGia}--</h6>


                                    </div>


                                </div>
                            </div>`
            );
            // Thêm HTML mới vào container
            $("#resultContainer").append(newHtml);
        });
        }

    </script>